interactions:
- request:
    body: '{"dtbp_check": null, "fractional_trading": true, "max_margin_multiplier":
      null, "no_shorting": null, "pdt_check": null, "suspend_trade": null, "trade_confirm_email":
      "none", "ptp_no_exception_entry": null}'
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
      Content-Type:
      - application/json
    method: PATCH
    uri: https://paper-api.alpaca.markets/v2/account/configurations
  response:
    body:
      string: '{"dtbp_check":"both","fractional_trading":true,"max_margin_multiplier":"1","no_shorting":true,"pdt_check":"both","ptp_no_exception_entry":false,"suspend_trade":false,"trade_confirm_email":"none"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '199'
      X-Ratelimit-Reset:
      - '1699204218'
    status:
      code: 200
      message: OK
version: 1
