interactions:
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://paper-api.alpaca.markets/v2/orders
  response:
    body:
      string: '[{"id":"fa50db58-1c8e-4437-b7ba-2a7bf839f522","client_order_id":"037716b9-4c2f-4ce3-b15e-3947e810aa2a","created_at":"2023-11-05T19:53:41.735106Z","updated_at":"2023-11-05T19:53:41.735106Z","submitted_at":"2023-11-05T19:53:41.733727Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"b0b6dd9d-8b9b-48a9-ba46-b9d54906e415","symbol":"AAPL","asset_class":"us_equity","notional":null,"qty":"1","filled_qty":"0","filled_avg_price":null,"order_class":"","order_type":"market","type":"market","side":"buy","time_in_force":"day","limit_price":null,"stop_price":null,"status":"accepted","extended_hours":false,"legs":null,"trail_percent":null,"trail_price":null,"hwm":null,"subtag":null,"source":"access_key"},{"id":"2bd3282f-f502-4799-a85b-b50366521487","client_order_id":"27f79cc9-530c-4c68-a8fa-a4199ba38254","created_at":"2023-11-05T19:48:58.700716Z","updated_at":"2023-11-05T19:48:58.700716Z","submitted_at":"2023-11-05T19:48:58.699445Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"b0b6dd9d-8b9b-48a9-ba46-b9d54906e415","symbol":"AAPL","asset_class":"us_equity","notional":null,"qty":"1","filled_qt[...]
