interactions:
- request:
    body: null
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
    method: GET
    uri: https://paper-api.alpaca.markets/v2/account
  response:
    body:
      string: '{"id":"bcd9f34c-ad36-495d-94bc-2ce064aa3b8b","admin_configurations":{},"user_configurations":{"dtbp_check":"both","fractional_trading":true,"max_margin_multiplier":"1","no_shorting":true,"pdt_check":"both","trade_confirm_email":"all"},"account_number":"PA3CRSDQ9PTF","status":"ACTIVE","crypto_status":"ACTIVE","currency":"USD","buying_power":"98103.07","regt_buying_power":"98103.07","daytrading_buying_power":"0","effective_buying_power":"98103.07","non_marginable_buying_power":"98103.07","bod_dtbp":"0","cash":"98103.07","accrued_fees":"0","pending_transfer_in":"0","portfolio_value":"100501.88","pattern_day_trader":false,"trading_blocked":false,"transfers_blocked":false,"account_blocked":false,"created_at":"2022-10-01T12:12:15.765676Z","trade_suspended_by_user":false,"multiplier":"1","shorting_enabled":false,"equity":"100501.88","last_equity":"100625.78176104194422554","long_market_value":"2398.81","short_market_value":"0","position_market_value":"2398.81","initial_margin":"2398.81","maintenance_margin":"719.64","last_maintenance_margin":"705.4","sma":"100439.31","daytrade_count":0,"balance_asof":"2023-11-03","crypto_tier":1}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '199'
      X-Ratelimit-Reset:
      - '1699193389'
    status:
      code: 200
      message: OK
version: 1
