interactions:
- request:
    body: '{"symbol": "AAPL", "qty": 1.0, "notional": null, "side": "buy", "type":
      "market", "time_in_force": "day", "order_class": null, "extended_hours": null,
      "client_order_id": null, "take_profit": null, "stop_loss": null}'
    headers:
      APCA-API-KEY-ID:
      - SECRET
      APCA-API-SECRET-KEY:
      - SECRET
      Content-Type:
      - application/json
    method: POST
    uri: https://paper-api.alpaca.markets/v2/orders
  response:
    body:
      string: '{"id":"fa50db58-1c8e-4437-b7ba-2a7bf839f522","client_order_id":"037716b9-4c2f-4ce3-b15e-3947e810aa2a","created_at":"2023-11-05T19:53:41.73510611Z","updated_at":"2023-11-05T19:53:41.73510611Z","submitted_at":"2023-11-05T19:53:41.73372678Z","filled_at":null,"expired_at":null,"canceled_at":null,"failed_at":null,"replaced_at":null,"replaced_by":null,"replaces":null,"asset_id":"b0b6dd9d-8b9b-48a9-ba46-b9d54906e415","symbol":"AAPL","asset_class":"us_equity","notional":null,"qty":"1","filled_qty":"0","filled_avg_price":null,"order_class":"","order_type":"market","type":"market","side":"buy","time_in_force":"day","limit_price":null,"stop_price":null,"status":"accepted","extended_hours":false,"legs":null,"trail_percent":null,"trail_price":null,"hwm":null,"subtag":null,"source":null}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Ratelimit-Limit:
      - '200'
      X-Ratelimit-Remaining:
      - '199'
      X-Ratelimit-Reset:
      - '1699214022'
    status:
      code: 200
      message: OK
version: 1
